

h1, p {
color: aliceblue;
}

canvas {
    border:2px solid #999;
    background-color:darkblue;
    display: block;
    text-align: center;
<<<<<<< Updated upstream
    margin-top: 5%;
    margin-left: 30%;
=======
>>>>>>> Stashed changes
  }

.bandeau  {
    background-color: #4682B4;
    
}
 footer {
  background-color: #4682B4;
  position: absolute;
  bottom: 0;
  width: 100%;
 }

button {
  display: block;
float: left;
}

 .rules {
   float: right;
<<<<<<< Updated upstream
 }
 .btn{
   margin-left: 40%;
 }
=======
   padding-right: 10%;
 }

>>>>>>> Stashed changes
